@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

 html {
	scroll-behavior: smooth;
  
    
    &::-webkit-scrollbar{
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track{
        background-color: rgb(199, 199, 199);
    }

    &::-webkit-scrollbar-thumb{
        background-color: #f3f3f3;
    }

    

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Cute Font';
overflow-y: scroll;




}

.main{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    display: flex;
    
   
}



.back{
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    position: absolute;
    background-image: url(./data/02.jpg);
    background-size: cover;
    background-position: center;
       
}


@keyframes color{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

a{
    text-decoration: none;
}

.sidemenu {
display: flex;
flex-direction: column;
position:fixed;
height: 100%;
width: 25%;
justify-content: space-evenly;
align-items: left;

text-align: left;
color:#fff;
margin-right: 2rem;




z-index: 3;



}



.sidemenu .caja a{
color: #00ffbb;

font-size: 4.7rem;

}
.sidemenu .caja a:hover{
   color: #ffffff;
               text-shadow: 0 0 10px #ff00e1,
                            0 0 20px #ff00e1,
                            0 0 40px #ff00e1,
                            0 0 80px #ff00e1,
                            0 0 120px #ff00e1,
                            0 0 160px #ff00e1;
                            -webkit-text-stroke: 0px #ffffff;
}

.sidemenu #caja a:hover{
    color: #fff;
                text-shadow: 0 0 10px #ff9cf3,
                             0 0 20px #ff9cf3,
                             0 0 40px #ff9cf3,
                             0 0 80px #ff9cf3,
                             0 0 120px #ff9cf3,
                             0 0 160px #ff9cf3;
 }


 .sidemenu #h2{
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    font-size: 2rem;
    text-align: left;
    margin-left: 0;
    
}



#caja .contact a{
    font-size: 2rem;
    color: #fff;
    
    
}

.caja, #caja{
    justify-content: space-evenly;
    background-color: #5c5c5c97;
    width: 300px;
    height: 200px;
    margin: 0.7rem;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 77px;
    margin-left: 4rem;
    align-items: center;
    justify-items: center;
    align-content: center;
    box-shadow:0 0 30px #ff02e6;    
    border: 4px solid #ff00e1;     
  }

  .caja{
    padding: .5em;
    padding-top: 2.5rem;
  }
  #caja{
    padding-top: 1em;
    height: 133px;
  }
   
.caja:hover{
    background-image:url(./data/caja1.jpg);
  box-shadow: 0 0 10px #ff9cf3,
               0 0 20px #ff9cf3,
               0 0 40px #ff9cf3;

  }

  #caja:hover{
    box-shadow: 0 0 10px #ff9cf3,
                 0 0 20px #ff9cf3,
                 0 0 40px #ff9cf3;
  
    }

 .sidemenu #ini{
    background-image: url(./data/caja1.jpg);
    background-size: cover;
    
 }

 .sidemenu #porta{
    background-image: url(./data/caja2.jpg);
    background-size: cover;
 }

 .sidemenu #stat{
    background-image: url(./data/caja3.jpg);
    background-size: cover;
 }


  @media screen and (max-width:1200px){
    .caja, #caja{
        width:200px;
        height: 150px;
    }
    #caja .contact a{
        font-size: 1.5rem;}


        .main .contenido{
            margin:0;
            margin-left:0;
        }  
        
        .banner{
            width: 80%;
            height: 100%;   
        }
        

        .sidemenu .caja a{
            font-size: 2.8rem;
        }

  }
 




@media all and (max-width:600px){
    .sidemenu{
        width:25%;
        height: 100%;
        position: fixed;
        padding-left: 0rem;
        align-items: start;
        margin-right: 5.5rem;   
    }

   
    .sidemenu .caja{
        width: 150px;
        height: 170px;
        margin-left: .3rem;
        margin-left: 2.5rem;
        padding-top: 3.5rem;

    }
    .sidemenu #caja{
        width: 150px;
        height: 120px;
        margin-left: .3rem;
        margin-left: 2.5rem;
    }
    .sidemenu .caja a{
        font-size: 2.6rem;
        }

    .sidemenu #caja .contact a{
        font-size: 1.4rem;
    }

    .sidemenu #caja .contact #correo {
        font-size: 19px;
    }
   
}




/*INICIO*/

.main .contenido{
    margin: 0;
   
    height: 100%;
    width: 100%;
    padding: 0;
    
  
}

.banner{
    position: absolute;
    width: 1155px;
    height: 100%;
    text-transform: uppercase;
    z-index: 1;
    margin-left: 25%;
}



nav, footer{
    position: absolute;
    margin: 0;
    padding: 2em;
    width: 100%;
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    font-size: 37px;
    font-weight: bold;
    color: #fff;
    z-index: 4;

    


    letter-spacing: 0.1em;
    


}

footer{
    bottom: 0;
    height: 55%;
    font-size: 25px;
    margin-left: 65rem;
    z-index: +4;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: .05rem;
    
}

nav > div, footer > div {
    padding: 0;
    cursor: pointer;
    
}

.header {
    position: absolute;
    
}

#subheader {
    position: absolute;
    height: 50px;
    
    margin: 0;
    margin-top: 16.6em;
    margin-left: 7.5rem;
    font-weight: bold;
    width: 800px;
    
    z-index: +3;
    background-color: #00000000;
   
}
p{
    font-size: 37px;
    text-align: center;
    color: #fff;
    

}

.header .placeholder .random{
    text-align: center;
    text-shadow: 0 0 10px #ff38e8,
    0 0 20px #ff38e8,
    0 0 40px #ff38e8,
    0 0 80px #ff38e8,
    0 0 120px #ff38e8,
    0 0 160px #ff38e8;
    color: #00000000;
    -webkit-text-stroke: 1px #ffffff;
    line-height: 2.25;
    transition: 1s; 
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 0em;
    padding: 0;
    height: 90vh;
    margin-top: 2rem;
    margin-left: 5rem;
font-size: 222px;
    z-index: +2;

    background-image: url(./data/comp.gif);
    background-repeat: no-repeat;
    background-size: 333px;
    background-position: center;
    

animation: color 12s ease-in-out infinite;

}
 .banner .header .placeholder .random .r1{
    display: flex;
    height: 100px;
    width: 900px;
    justify-content: center;
    margin-left: 0rem;
    
  }
  .banner .header .placeholder .random .r2{
    display: flex;
    height: 100px;
    justify-content: center;
    margin-top: 5rem;

  }

.banner .header .placeholder .random span{
    width: 133px;
    display: inline-block;
    text-align: center;
       
}

.placeholder .random:hover{
    text-shadow: 0 0 10px #ff38e8,
    0 0 20px #ff38e8,
    0 0 40px #ff38e8,
    0 0 80px #ff38e8,
    0 0 120px #ff38e8,
    0 0 160px #ff38e8;
    color: #ffffff;
    -webkit-text-stroke: 0px #ff38e8;
    transition: 1s;
  
  }
 

.follow-img{
    opacity: 0;
    width: 100%;
    height: auto;
    max-width: 160px;
    transition: ease .2s;
    position: absolute;
    translate: (0, -50%);
    z-index: -1;
    object-fit: cover;
    margin-top: 1rem;
    margin-left: 24rem;
}

.placeholder .random:hover .follow-img{
    opacity: 1;
}







html {
    cursor: url("/data/cursor.png"), auto !important;
    
    

}
a, #item-1, #item-2, .random{
    cursor: url("/data/pointer.png"), auto !important;

}

@media all and (max-width:1200px){
   
    .banner{
        position: absolute;
        width: 78%;
        height: 100%;
    } 
    .header .placeholder .random{
        font-size: 134px;
        margin-left: -2rem;
        margin-top: 5rem;
    }

    .banner .header .placeholder .random span{
        width: 70px;
    }
    #item-2{
        margin-top: 4rem;
    }
    #subheader {
        margin-left: 7rem;
        width: 600px; 
        margin-top: 36rem;
        }
    p{
            font-size: 44px;
        }

     footer{
        margin-left: 42rem;
     }   
}


@media all and (max-width:900px){
    .sidemenu{
        width: 22%;
        font-size: 0.8rem;
        justify-content:center;
       
    }

    .caja, #caja{
        width:170px;
        height: 150px;
    }
    .caja{
        padding-top: 2.5rem;
    }
    .sidemenu a{
        font-size: .4rem;
        }

    #caja .contact a{
        font-size: 1.4rem;
    }
    #caja{
        padding-top: 2rem;
    }

   
    
   
}


@media all and (max-width:900px){
    
    .banner{
        position: absolute;
        width: 78%;
        height: 100%;
    }

    .header .placeholder .random{
        font-size: 104px;
        margin-left: -4rem;
        margin-top: 8rem;
    }

    .banner .header .placeholder .random span{
        width: 70px;
    }

    nav, footer{
        font-size: 40px;
        align-items: center;
    }
    footer{
        margin-left: 2rem;
        writing-mode: horizontal-tb;
     }

   
    #subheader {
    margin-left: 7rem;
    width: 500px; 
    margin-top: 34rem;
    }
    p{
        font-size: 37px;
    }

    #item-2{
        margin-top: 4rem;
        margin-left: 4rem;
    }
    #item-1{
        margin-left: 4rem;

    }
    .banner .header .placeholder .random .r2{
        margin-top: 2rem;
    }
    

}

@media all and (max-width:700px){
   
    .banner{
        position: absolute;
        width: 78%;
        height: 100%;
    }

    .header .placeholder .random{
        font-size: 104px;
        margin-left: -11rem;
        margin-top: 8rem;
    }

    .banner .header .placeholder .random span{
        width: 60px;
    }

    nav, footer{
        font-size: 40px;
        align-items: center;
    }
   
    #subheader {
    margin-left: 7rem;
    width: 300px; 
    margin-top: 34rem;
    }
    p{
        font-size: 25px;
    }

    #item-2{
        margin-top: 4rem;
        margin-left: 4rem;
    }
    #item-1{
        margin-left: 4rem;

    }
    .banner .header .placeholder .random .r2{
        margin-top: 2rem;
    }
    

}

@media all and (max-width:600px){
    
    .banner{
        position: absolute;
        width: 62%;
        height: 100%;
    }

    .header .placeholder .random{
        font-size: 74px;
        margin-left: -18rem;
        margin-top: 8rem;
    }

    .banner .header .placeholder .random span{
        width: 40px;
        
    }

    nav, footer{
        font-size: 30px;
        align-items: center;
    }
    footer{
        margin-left:0;
     }
   
    #subheader {
    margin-left: 0rem;
    width: 300px; 
    margin-top: 33rem;
    }
    p{
        font-size: 24px;
    }

    #item-2{
        margin-top: 1rem;
        margin-left: 0rem;
    }
    #item-1{
        margin-left: 0rem;

    }
    .banner .header .placeholder .random .r2{
        margin-top: 0rem;
    }

    .follow-img{
        max-width: 44px;
        margin-left: 27rem;
        margin-top: 7rem;
        
    }
    

}











